[submodule "vendor/amq-protocol"]
	path = vendor/amq-protocol
	url = https://github.com/ruby-amqp/amq-protocol.git
[submodule "vendor/cool.io"]
	path = vendor/cool.io
	url = https://github.com/tarcieri/cool.io.git
[submodule "vendor/evented-spec"]
	path = vendor/evented-spec
	url = git://github.com/markiz/evented-spec.git
